* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centerItem {
    width: 400px;
    margin: 0 auto;
}

.fotSize {
    font-size: 80px;
}

.fotSizeIcon {
    font-size: 30px;
}

footer {
    height: 500px;
    padding: 50px;
}

@media screen and (max-width: 992px) {
    .displayNone {
        visibility: hidden;
    }
}